.form > .forgetPassword > a {
  color: #38a993;
  text-decoration: none;
}

.form  > button {
  margin-top: 15px;
}

.imageLoginFirstColumn > img {
  max-width: 100%;
}

.secondColumnCardLogin > .row {
  height: 100%;
}

.secondColumnCardLogin > .row > .logoContainer {
  border-bottom: 1px dashed #eaecf0;
  max-height: 48px;
}

.passwordInput > .input-group > input {
  border-right: 0;
}

.passwordInput > .input-group > .input-group-append {
  padding: 10px;
  border-radius: 12px;
  border: 2px solid var(--Neutral-100, #f2f4f7);
  border-left: 0;
  color: #677084;
}

